.body{
	font-family: Georgia;
}
.main {
	background-color: black;
}
.bigbox1{
	background-color: #ffe538;
	margin-bottom: -60px;
}

.menu{
	margin-top: -70px;
}

.menu li{
	display: inline;
	float: right;
	width: 140px;

}

.menu a{
	text-decoration-line: none;
	padding: 20px;
}

h2{
	text-align: center;
	margin-top: 100px;
}


.bigbox2{
	background-color: #414141;
	height: 680px;
}

.box2-1{
	text-align: center;
	color: white;
}

.box2-1 h2{
	padding-top: 35px;
}

.boximg{
	position:relative;
	float: right;
	margin-top: -100px;

}

.menu2 li{
	display: inline;
	float: left;
	margin:55px 20px 0px 65px;
}

.box3-1 {
	height: 800px;
}

.teachers{
	position: absolute;
	
}

.team{
	position: absolute;
	right: 0;
	margin-top: 50px;

	
}

.teamBg{
	margin-top: 40px;
	
}

.box3-1 p{
	display: inline-block;
   	margin:80px 80px 80px 80px;
}

.devp{
	color: #fff;
}

.talkcontact{
	background-color: #ffe538;
	height: 1000px;
	margin-top: -80px;
}


.talk{
	float: right;
	margin-top: 50px;
}

.contact{
	margin: -100px 200px 0 200px;
}

.if{
	background-color: #414141;
	margin-top: -20px;
	color: white;
	padding: 0 0 50px 50px;
}

.like{
	margin: 0 10px 0 10px;
}

.comment{
	margin: 0 10px 0 10px;
}